body {
  margin: 0;
  .section1 {
    width: 100%;
    height: 428px;
    background-color: #83bdff;
    padding-top: 300px;

    .head {
      margin: 0;
      text-align: center;
      font-size: 65px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 15px;
    }

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn1 {
        width: 9rem;
        height: 7vh;
        margin-right: 18px;
        border: 0;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
      }

      .btn2 {
        width: 9rem;
        height: 7vh;
        border: 0;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .section2 {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #83bdff;

    .points {
      display: flex;
      justify-content: center;

      .myPoints {
        .myPoint {
          font-size: 90px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
          color: white;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        p {
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          margin-left: 8px;
        }
      }

      .aiPoints {
        .aiPoint {
          font-size: 90px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
          color: white;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        p {
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          margin-left: 15px;
        }
      }

      .totalPoints {
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 85px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;

        .pWin {
          margin-bottom: 15px;
          .pointWin {
            color: white;
            font-size: 25px;
            font-weight: 400;
            margin-left: 8px;
          }
        }

        .pLos {
          .pointLost {
            color: white;
            font-size: 25px;
            font-weight: 400;
            margin-left: 8px;
          }
        }
      }
    }

    .hands {
      display: flex;
      justify-content: space-around;
      .myHand {
        width: 400px;
        height: 350px;
      }

      .notificationWin {
        font-size: 50px;
        color: green;
        margin-top: 222px;
        display: none;
      }

      .notificationLost {
        font-size: 50px;
        color: red;
        margin-top: 222px;
        display: none;
      }

      .aiHand {
        width: 400px;
        height: 350px;
        transform: scaleX(-1);
      }
    }

    .buttons {
      display: flex;
      justify-content: center;

      .btnR {
        width: 70px;
        height: 80px;
        border: 0;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 600;
      }

      .btnP {
        width: 70px;
        height: 80px;
        border: 0;
        border-radius: 50%;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        font-weight: 600;
      }

      .btnS {
        width: 70px;
        height: 80px;
        border: 0;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    .section1 {
      padding-top: 300px;
      height: 1050px;
    }

    .section2 {
      .points {
        display: flex;
        justify-content: center;
        padding-top: 70px;

        .myPoints {
          .myPoint {
            font-size: 80px;
            margin-bottom: 28px;
          }
          p {
            font-size: 20px;
          }
        }

        .aiPoints {
          .aiPoint {
            font-size: 80px;
            margin-bottom: 28px;
          }
          p {
            font-size: 20px;
          }
        }

        .totalPoints {
          margin-left: 100px;
          margin-right: 100px;
          margin-top: 75px;
          font-size: 20px;

          .pWin {
            margin-bottom: 10px;
          }
        }
      }

      .hands {
        margin-bottom: 60px;
        margin-top: 40px;
        .myHand {
          width: 180px;
          height: 200px;
        }
        .aiHand {
          width: 180px;
          height: 200px;
          transform: scaleX(-1);
        }
        .notificationWin {
          font-size: 40px;
          margin-top: 113px;
        }

        .notificationLost {
          font-size: 40px;
          margin-top: 113px;
        }
      }

      .buttons {
        .btnR {
          width: 65px;
          height: 75px;
        }

        .btnP {
          width: 65px;
          height: 75px;
          margin-left: 80px;
          margin-right: 80px;
        }

        .btnS {
          width: 65px;
          height: 75px;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  body {
    .section1 {
      padding-top: 150px;
      height: 550px;
    }

    .section2 {
      .points {
        display: flex;
        justify-content: center;

        .myPoints {
          .myPoint {
            font-size: 60px;
            margin-bottom: 18px;
          }
          p {
            font-size: 15px;
          }
        }

        .aiPoints {
          .aiPoint {
            font-size: 60px;
            margin-bottom: 18px;
          }
          p {
            font-size: 15px;
          }
        }

        .totalPoints {
          margin-left: 40px;
          margin-right: 40px;
          margin-top: 55px;
          font-size: 15px;

          .pWin {
            margin-bottom: 5px;
          }
        }
      }

      .hands {
        margin-bottom: 60px;
        margin-top: 40px;
        .myHand {
          width: 100px;
          height: 120px;
        }
        .aiHand {
          width: 100px;
          height: 120px;
          transform: scaleX(-1);
        }
        .notificationWin {
          font-size: 20px;
          margin-top: 70px;
        }

        .notificationLost {
          font-size: 20px;
          margin-top: 70px;
        }
      }

      .buttons {
        .btnR {
          width: 55px;
          height: 65px;
        }

        .btnP {
          width: 55px;
          height: 65px;
          margin-left: 40px;
          margin-right: 40px;
        }

        .btnS {
          width: 55px;
          height: 65px;
        }
      }
    }
  }
}
